// flex container
@mixin flex(
    $disp: flex,
    $dir: null,
    $wrap: null,
    $just: null,
    $alig: null,
    ) {

    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $alig;

}