
/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {

    &-avatar {
        @include center;
        @include img;
        max-height: 100%;
    }

    &-frame {
        @include center;
        @include img;
        padding: 13px;
        border: 1px solid #ccc;
    }

    &-logo {
        @include center;
    }
}